<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 数据访问层类型：Sql为SQL Server，PgSql为PostgreSQL -->
    <add key="DalType" value="Sql"/>
  </appSettings>
  <!-- 数据库连接串 -->
  <connectionStrings>
    <add name="Sql" connectionString="Server=(local);Database=EduBaseDemo;Integrated Security=sspi" providerName="System.Data.SqlClient"/>
    <add name="PgSql" connectionString="Server=localhost;Database=EduBaseDemo;User ID=Administrator" providerName="Npgsql"/>
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
