<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlFailOver" connectionString="Server=WinSvr-1;Database=EduBaseDemo;Integrated Security=false;User id=SqlLogin1;Password=$q17o9!n1;FailOver Partner=WinSvr-2" providerName="System.Data.SqlClient"/><!--用于镜像测试-->
    <add name="Sql" connectionString="Server=(local);Database=EduBaseDemo;Integrated Security=sspi" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
